.imgcentral{
  background-color: #82c3a6;
  text-align: center;
  vertical-align: middle;
}

.imagen1inicio{
  width: 60%;
  height: 60%;
  box-shadow: 2px 2px 2px  #02010a;
}

.imgsecundaria{
  background-color:#d5c75f;
  border: 1px;
}
/* imagenes secundarias */
.imagen2inicio,.imagen3inicio{
  width: 75%;
  height: 80%;
  box-shadow: 2px 2px 2px  #02010a;
}
/*efectos de rotar y trasladar*/
.imagen2inicio:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}
.imagen3inicio:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
