html,body{
  margin:0;
  padding:0;
  background-color: #02010a;
  font-family:'Dancing Script';
  color: white;
  text-align: center;
}
/* contenedor piincipal */
.contenido{
  width: 900px;
  margin:auto;
  border-radius: 25px;
  animation: slideIn 3s;
}
/*cabecera*/
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
}
/*Menu de la cabecera*/
header a,header a:visited,header a:link{
  color: white;
}
.encabezado,.menu{
  margin: auto;
}
.seleccion{
  text-decoration: none;
}
/*pie de pagina*/
div[class*="colum"]{
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  color: black;
}
footer{
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
}
/*media para celulares*/
@media (max-width:900px) {
  .contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu{
    padding-bottom: 20px;
  }
  .contenedor2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  div[class*="colum"]{
    padding-left: 0;
    padding-bottom: 5%;
  }
}
/*animacion*/
@keyframes slideIn {
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
